body {
  background-color: #ff1a1a;
}

header {
  display: flex;
  color: white;
  text-shadow: 1px 1px black;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 5px solid black;
  margin-bottom: 15px;
}

h1 {
  margin:0;
}

a {
  text-decoration: none;
  color: white;
}

em {
  font-style: normal;
  font-weight: bold;
}

img {
  border-radius: 10%;
}

.columns {
  display: flex;
  clear: both;
}

.columns p, .columns img {
  padding: 0 15px;
}

.column img {
  flex-grow: 1.5;
}

footer {
  text-align: center;
  color: white;
}

footer a {
  color: black;
}
