html, body {
  background-color: #ff1a1a;
  height: 100%;
}

.wrapper {
  min-height: 100%;
}

.main {
  overflow:auto;
	padding-bottom: 50px;
}

header {
  display: flex;
  color: white;
  text-shadow: 1px 1px black;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 5px solid black;
  margin-bottom: 15px;
}

h1 {
  font-size: 3em;
  margin:0;
}

nav {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
}

em {
  font-style: normal;
  font-weight: bold;
}

img {
  border-radius: 10%;
}

.columns {
  display: flex;
  clear: both;
}

.columns p, .columns img {
  padding: 0 15px;
}

.column img {
  flex-grow: 1.5;
}

footer {
  text-align: center;
  color: white;
  position: relative;
	margin-top: -50px;
	height: 50px;
	clear:both;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

footer a {
  color: black;
}
